[submodule "ranger/.config/ranger/plugins/fzf-marks"]
	path = ranger/.config/ranger/plugins/fzf-marks
	url = https://github.com/laggardkernel/ranger-fzf-marks
[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
